<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="speed4j.hlw.app"/>
    <property name="LOG_HOME" value="/logs"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_HOME}/${APP_NAME}-trans.log.crn"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} [${APP_NAME} [%t] %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <param name="FileNamePattern" value="${LOG_FILE}.%i"/>
            <param name="MinIndex" value="1"/>
            <param name="MaxIndex" value="20"/>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500mb</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS} [${APP_NAME} [%t] %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
